<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "us.funpick.example"
    version   = "1.0.0">

<name>FunPicks Sports</name>

<description>
	American Football prediction Application/Game.
</description>

<author href="https://www.facebook.com/antonio.kendall" email="antonio.kendall@gmail.com">
	Antonio Kendall - KendallGroup Web LLC.
</author>

</widget>
